body {
    background-color: #2d6dd7;
}

.container {
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 260px;
    margin-right: 260px;
    background-color: #ffffff;
}

#image {
    filter: grayscale(1);
    width: 1380px;
    height: 420px;
}

.user-form {
    margin: 0px 250px;
}

.mt-30 {
    margin-top: 30px;
}

.m-TB30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.dob{
    display: flex;
    justify-content: space-between;
}

.dob div, .name div{
    display: flex;
}
.dob div i{
    color: gray;
    margin-top: 10px;
}
.class {
    margin-top: 30px;
}

.code-m-TB30 {
    padding-top: 5px;
}

.gender{
    width: 300px;
}

button {
    font-size: 15px;
    color: white;
    border: 0px;
    border-radius: 5px;
    background-color: #5eaf4f;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

input {
    width: 100%;
    font-size: 120%;
    color: #5a5854;
    padding: 5px 5px 5px 30px;
    border-bottom: 2px solid #c7c7c7;
    border-top: none;
    border-left: none;
    border-right: none;
    background-repeat: no-repeat;
    background-position: 8px 9px;
}

input:focus, select:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

select {
    font-size: 120%;
    color: #5a5854;
    padding: 5px 5px 5px 30px;
    border-bottom: 2px solid #c7c7c7;
    border-top: none;
    border-left: none;
    border-right: none;
    background-repeat: no-repeat;
    background-position: 8px 9px;
}